.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
}

.container h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.container p {
  font-family: 'Arial', sans-serif;
  font-size: 1.25rem;
  color: #666;
  margin-top: 0;
  margin-bottom: 20px;
}

.container a {
  background-color: var(--green-btn);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.container a:hover {
  background-color: var(--green-btn-hover);
}
