.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.formgroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.loginform form {
  display: flex;
  flex-direction: column;
  background-color: #48aff3;
  padding: 30px;
  gap: 25px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

.loginform label {
  color: var(--black-opacity);
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  width: 65px;
  text-align: right;
}

.loginform input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  background-color: white;
}

.loginform input:focus {
  outline: none;
  border: 1px solid var(--border-highlighter);
}

.error {
  color: red;
  font-size: 14px;
}

.fieldError {
  background-color: var(--error-color);
  color: #fff;
  padding: 5px;
  font-size: 12px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.loginBtn {
  padding: 12px 15px;
  background-color: var(--blue-btn);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  font-weight: bold;
}

.loginBtn:hover {
  background-color: var(--blue-btn-hover);
}

.signUpPrompt {
  color: var(--black-opacity);
  font-size: 14px;
  margin-top: 10px;
}

.signUpLink {
  color: var(--black-opacity);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 5px;
}

.success {
  color: green;
  font-size: 14px;
}

.loginBtn:disabled {
  background-color: #aaa7a7;
  cursor: not-allowed;
}
