.dashboard {
  width: 100%;
  background-color: var(--light-blue-opacity);
  position: relative;
}

.dashboard ul,
.accountOptions {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dashboard ul li,
.accountOptions li {
  margin: 0 15px;
}

.dashboard a,
.accountOptions a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 10px 15px;
  display: inline-block;
}

.dashboard a:hover,
.accountbtn:hover,
.backBtn:hover {
  color: #0057b3c2;
}

.logoutbtn:hover {
  color: #c82333c4;
}

.dashboard a::after,
.accountOptions a::after,
.logoutbtn::after,
.accountbtn::after,
.backBtn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.dashboard a::after,
.accountbtn::after,
.backBtn::after {
  background-color: var(--blue-btn-hover);
}

.logoutbtn::after {
  background-color: #c82333c4;
}

.dashboard a:hover::after,
.logoutbtn:hover::after,
.accountbtn:hover::after,
.backBtn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logoutbtn,
.accountbtn,
.backBtn {
  color: var(--default-white);
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 10px 15px;
}

.accountMenu {
  display: flex;
  align-items: center;
}

.welcomeMessage {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 40px 20px;
  background-color: #48aff3;
  color: white;
  border-radius: 8px;
  max-width: 600px;
  margin: 50px auto;
  box-sizing: border-box;
}

.welcomeMessage span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcomeMessage p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
}

.cart {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  background-color: var(--default-white);
  border: 1px black;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.cart:hover {
  background-color: #e6e6e6;
  transform: translateY(-50%) scale(1.1);
}

.cart::before {
  content: '';
  background-image: url('/imgs/shopping-cart.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.cart .itemCount {
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 18px;
  height: 18px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
