.dashboard {
  width: 100%;
  background-color: var(--light-blue-opacity);
}

.dashboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dashboard ul li {
  margin: 0 15px;
}

.dashboard a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 10px 15px;
  display: inline-block;
}

.dashboard a:hover {
  color: #0057b3c2;
}

.logoutbtn:hover {
  color: #c82333c4;
}

.dashboard a::after,
.logoutbtn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.dashboard a::after {
  background-color: var(--blue-btn-hover);
}

.logoutbtn::after {
  background-color: #c82333c4;
}

.dashboard a:hover::after,
.logoutbtn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logoutbtn {
  color: var(--default-white);
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 10px 15px;
}

.welcomeMessage {
  text-align: center; /* Centrar el contenido */
  font-family: 'Arial', sans-serif; /* Fuente sencilla y legible */
  padding: 40px 20px; /* Espaciado alrededor del mensaje */
  background-color: #48aff3; /* Azul del formulario de login */
  color: white; /* Texto blanco para contraste */
  border-radius: 8px; /* Bordes redondeados */
  max-width: 600px; /* Ancho máximo */
  margin: 50px auto; /* Centrado horizontal y separación vertical */
  box-sizing: border-box; /* Aseguramos que el padding no afecte el tamaño total */
}

.welcomeMessage span {
  display: block; /* Aseguramos que el título ocupe toda la línea */
  font-size: 24px; /* Tamaño de fuente más grande para el título */
  font-weight: bold; /* Negrita para el título */
  margin-bottom: 10px; /* Espacio entre el título y el subtítulo */
}

.welcomeMessage p {
  font-size: 16px; /* Un tamaño de fuente más pequeño para el mensaje */
  font-weight: normal; /* Normal para el subtítulo */
  margin-top: 0; /* Sin margen extra arriba */
}
